@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

html {
    width: 1020px;
    border: none;
    margin-left: auto; margin-right: auto;
}

.header h1 {
    font-family: 'Acme', sans-serif; font-size: 54px;
    text-align: center;
}

nav {
    font-size: 20px;
    font-weight: bold;
}

a:link {text-decoration: none; color: black;}
a:visited {text-decoration: none; color: black;}
a:hover {
    border: none;
    background-color: lightsteelblue;
    border-radius: 10px;
    padding: 3px 7px;
}

.main_content {
    padding: 0px 5% 15px;
    border: solid;
    border-width: 5px;
    border-top-color: black;
    border-bottom-color: black;
    border-left-color: white;
    border-right-color: white;
}

.info {
    width: 130px;
    height: 25px;
    text-align: center;
    font-weight: bold;
    background-color: lightblue;
    border-radius: 5px;
}

.buttons button {
    font-size: 17px;
    border: none;
    border-radius: 10px;
    background-color: lightblue;
    padding: 5px 10px;
}

.buttons button:hover {font-weight: bold;}

/*index.html*/

.heading_ani {
    width: 600px; height: 45px;
    animation-name: movingHeader;
    animation-duration: 2s;
    animation-timing-function: ease-out;
}

@keyframes movingHeader {
    from {margin-left: 100%;}
    to {margin-left: 0%;}
}

hr {
    border: none;
    height: 2px;
    background-color: black;
}

/* 이번에 새로 만듦 */
.border {
    display: flex;
}
aside {
    /* float: left; */
    /* width: 30%; */
    flex-basis: 30%;
}

main {
    flex-basis: 70%;
    margin-left: auto;
    margin-right: auto;
}
/**/

/*in image_container*/
.image_container {
    border: solid;
    border-width: 1px;
    background-color: black;
    width: 300px; height: 350px;
    margin-right: 40px;
    margin-bottom: 50px;
    float: left;
}

img {
    width: 200px; height: 260px;
    position: relative;
    top: 90px;
    left: 10px;
}

.productName {
    position: relative;
    top: -260px;
    width: 200px; height: 75px;
    font-size: large;
    margin-left: 15px;
}

.productPrice {
    position: relative;
    left: 210px; bottom: 30px;
    width: 90px; height: 20px;
    text-align: center;
}

.clicks {
    border-radius:10%;
    position: relative;
    bottom: 102%;
    left: 79%;
    width: 60px;
    text-align: center;
    background: rgba(240, 248, 255, 0.7);
}
/**/